.root {
  width: 100%;
  height: 80vh;
  display: flex;
}

.controlPanel{
  width: 10%;
}
.mainPanel{
  width: 90%;
  height: 100%;
}
.overview{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.otherview{
  display: flex;
}
.relativity{
  position: absolute;
  padding: 0px;
  text-align: left;
  left:700px;
  top:440px;
}
.assistView2{
  position: absolute;
  left:1200px;
  top:400px;
  text-align: left;
}
.assistView{
  text-align: left;
}
