.root {
  width: 100%;
  height: 80vh;
  display: flex;
}

.controlPanel{
  width: 10%;
}
.mainPanel{
  width: 90%;
  height: 100%;
}
.overview{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.otherview{
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
